<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ~{} : templates를 가르킨다 , ::header => header태그범위안 내용을 가져온다. -->
<th:block th:insert="~{../templates/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${result} > 0">
		<script type="text/javascript">
			alert("취소되었습니다")
			location.href="mypage";
		</script>
	</div>
	<div th:if="${result} <= 0">
		<script type="text/javascript">
			alert("취소과정에서 에러발생")
			history.back();
		</script>
	</div>
</body>
</html>