<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	#find_PW_Form{
	display:block;
	}
	
	#find_PassBox{
	display:none;
	}
	#find_ID_Email_replacePass2{
	display:none;
	}
</style>
<body>
    <div id="find_PW_Form" style="width: 100%; height: auto; margin:0 auto;">
        <input id="id" class="form-control" type="text" name="id" required="required" autofocus="autofocus" placeholder="가입한 아이디를 입력해주세요">
        <p>
        <button id="find_PW_Btn" class="form-control btn btn-success" style="margin-top: 15px;">비밀번호 찾기</button>
    </div>
    
    <!-- 이메일로 아이디찾기 -->
    <div id="find_PassBox" style="width: 100%; height: 200px; margin:0 auto;">
        <hr>
        <span>입력하신 정보와 일치하는 계정을 발견했습니다.</span><br>
        <strong><i id="find_Email"></i></strong><p>
        <button id="replacePassBtn3" class="btn btn-warning">비밀번호 재설정</button>
        <button class="btn btn-success">로그인</button><p>
        <b style="color: blue; float: left; ">정확한 아이디가 기억나지 않아요!</b><p>
    </div>
    
    <!-- 비밀번호 재설정 버튼클릭 -->
    <div id="find_ID_Email_replacePass2">
        <span>비밀번호를 재설정할 방법을 선택해주세요</span><p>
        <div style="text-align: left;">
            <div>
                <input type="radio" name="replace1" id="chk2"><label for="chk2">가입한 이메일로 재설정</label>
            </div>
            <span style="margin: 10px 0px;">회원정보에 등록된 아래의 이메일 주소로<br>
            정확한 계정 정보를 전송하시겠습니까?</span><p>
            <b class="find_Email"></b><p>
            <button id="sendEmailBtn2" class="form-control btn btn-success">계속</button>
        </div>
    </div>
    
    <!-- 비밀번호 메일전송 성공시 -->
	<div id="complete_Send2">
		<span id="complete_SendText2"></span><p> <!-- 이메일전송완료 텍스트 호출 -->
		<b class="findEmail"></b><p> <!-- 이메일 호출 -->
		<span>이메일이 보이지 않는 경우 <br>휴지통 또는 스팸함 등을 확인 해주세요!</span>
	</div>
	
	<!-- 비밀번호 메일전송 실패시 -->
	<div id="fail_Send2">
		<span id="fail_SendText2"></span>
		<span>이메일 전송에러가 발생하였습니다.</span>
	</div>
    
<!-- 스크립트 -->
<script type="text/javascript">
/* 비밀번호찾기 */
document.getElementById("find_PW_Btn").onclick = function(){
    let id = $("#id").val();
    if(id == null || id == "") alert("아이디를 입력해주세요");
    else{
        $.post("find_PW" , {id : id} , function(data){
            let member = data; // member를 지역 변수로 변경
            
            if(member.id == undefined) alert("존재하지 않는 아이디입니다");
            else{
            	alert("계정에 맞는 이메일이 존재합니다.")
                document.getElementById("find_Email").innerText = "이메일 : " +member.email;
                document.getElementsByClassName("find_Email")[0].innerText = "이메일 : " +member.email;
                document.getElementById("find_PW_Form").style.display = "none";
                document.getElementById("find_PassBox").style.display = "block";
                
                // sendEmailBtn2 클릭 이벤트 핸들러 추가
                document.getElementById("sendEmailBtn2").onclick = function(){
                	let checkRadio = document.getElementById("chk2").checked;
                	if(!checkRadio){
                		alert("가입한 이메일로 재설정 버튼을 체크해주세요");
                		return;
                	}
                    $.post("sendEmail" , {email : member.email , id : id} , function(result){ // 메일전송완료시 1 실패시 -1
                        if(result > 0){
                            document.getElementById("find_ID_Email_replacePass2").style.display="none";
                            document.getElementById("fail_Send2").style.display="none";
                            document.getElementById("complete_Send2").style.display="block";
                            document.getElementById("complete_SendText2").innerText += "이메일 전송완료";
                        }else if(result < 0){
                            document.getElementById("find_ID_Email_replacePass2").style.display="none";
                            document.getElementById("complete_Send2").style.display="none";
                            document.getElementById("fail_Send2").style.display="block";
                            document.getElementById("fail_SendText2").innerText += "이메일 전송실패";
                        }
                    });
                };
            }
        });
    }
};

document.getElementById("replacePassBtn3").onclick = function(){
    document.getElementById("find_PassBox").style.display="none";
    document.getElementById("find_ID_Email_replacePass2").style.display="block";
};
   
</script>
</body>
</html>