<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ~{} : templates를 가르킨다 , ::header => header태그범위안 내용을 가져온다. -->
<th:block th:insert="~{../templates/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:if="${result} > 0">
 <script type="text/javascript">
 	alert("회원가입을 축하드립니다!"+"[[${name}]] 님");
 	location.href="main";
 </script>
</div>
<div th:if="${result} == 0">
 <script type="text/javascript">
 	alert("회원가입 실패!");
 	history.back();
 </script>
</div>
<div th:if="${result} < 0">
 <script type="text/javascript">
 	alert("이미있는 아이디입니다 새로운 아이디로 시도해주세요");
 	history.back();
 </script>
</div>
</body>
</html>